<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="blank" href="http://github.com/lalalilu">Lulu</a>.
  </p>
  <br>
  <p>
    I am a programmer who is fervidly dedicated to creating things, providing the absolute best service, and building strong work relationships.
  </p>
  <br>

  <p>
    My work, projects, and knowledge is constantly growing and evolving to be better. I am persistently learning and continually maturing as a programmer. My thirst to know more is never quenched and my hunger to be better will never be satisfied.
  </p>
  <br>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'luluturkey.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Lulu Li</h2>
    <br>
    <p>
        Being able to express my creativity with my own hands and mind has always been something I love doing. I have done so in my spare time, but never thought it was achievable on this scale. After being stuck in a job I do not love, and feeling like life can be so much more, I finally kicked myself in the behind to do what I want to do. So come and be a part of my journey!
    </p>
  </div>
</div>

<br class="clear">
<br>
<br>
