<h2>
  <span>SPLURTY / No. <%= @quote.id %></span> &nbsp;
  You know you're getting old when...
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear">
<br>
<br>
<br>
