@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic);

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.next-quote {
  color: #EB645F;
  font-family: 'fira_sansregular', sans-serif;
  font-size: 20px;
}

.footer-blurb {
  font-family: "Playfair Display", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align: right;
  font-size: 10px;
}

.about {
  font-family: "Playfair Display", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

}

.slogan {
  font-family: "Playfair Display", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  padding-top: 80px;
}

.modal {
  font-family: "Playfair Display", "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

h2 span {
  color: #bbb;
  font-family: 'fira_sansregular', sans-serif;
}

.clear {
  clear: both;
}

::selection {
  background-color: #EB645F;
}

.links {
  padding-top: 70px;
}

.links a {
  color: black;
  font-size: 25px;
  border-bottom: 1px solid #669db6;
  font-family: 'fira_sanssemibold', sans-serif;
  text-decoration: none;
}

header {
  border-top: 9px solid #669db6;
}

hr {
  clear: both;
}

.logoReforest {
  width: 90px;
  height:100px;
  position: relative;
  margin: 20px 20px;
}

.logoReforest > div {
  float: left;
  width: 15%;
  margin: 2.5%;
  border-radius: 6px;
  position: relative;
}

.stripe1 {
  background: #EB645F;
  height: 40%;
  top: 30%;
}

.stripe2 {
  background: #E99B5D;
  height: 70%;
  top: 15%;
}

.stripe3 {
  background: #EEE37A;
  height: 100%;
}

.stripe4 {
  background: #7CCB20;
  height: 70%;
  top: 15%;
}

.stripe5 {
  background: #669db6;
  height: 40%;
  top: 30%
}

h1 {
  font-family: 'fira_sansregular', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

h2 {
  font-family: 'fira_sanssemibold_italic', sans-serif;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}
